// base parameters
$fontFamily: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
$baseFontSize: 75px;
$baseLineHeight: 1.25;
$bgColor: #f2f2f2 !default;
$color: #333 !default;
$borderColor: #e7e7e7 !default;
$white: #fff;
$orange: #ff5000;
$gray: #999;
$priceColor: $orange;
$activeBgColor: $white;
$activeColor: $orange;
$overlayBgColor: rgba(51, 51, 51, 0.5);

// pixels to rems
@function pxToRem($px) {
  @return $px / $baseFontSize * 1rem;
}

// mixin
@mixin border-radius($size: 5px) {
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
  border-radius: $size;
}
@mixin rotate-transition($ms: 300ms) {
  -webkit-transition: all $ms ease-out;
  -moz-transition: all $ms ease-out;
  transition: all $ms ease-out;
}
@mixin rotate-transform($deg: 180deg) {
  -webkit-transform: rotateZ($deg);
  -moz-transform: rotateZ($deg);
  -o-transform: rotateZ($deg);
  -ms-transform: rotateZ($deg);
  transform: rotateZ($deg);
}
@mixin ellipsis($height: auto, $lineClamp: 2) {
  height: $height;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lineClamp;
  -webkit-box-orient: vertical;
}

// container parameters
$headerListHeight: pxToRem(172px);
$footerHeight: pxToRem(90px);


// region parameters
$regionLiBgColor: #e4e4e4;
$regionLiColor: #666;
$regionLiActiveBgColor: $orange;
$regionLiActiveColor: $white;
$regionLiWidth: pxToRem(125px);
$ragionLiHeight: pxToRem(58px);

// form parameters
$inputBgColor: $bgColor;
$inputColor: $color;

// styles
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
html {
  overflow: hidden;
}
body {
  position: relative;
  background: #f2f2f2;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  font-family: $fontFamily;
  line-height: $baseLineHeight;
  color: $color;
}
a {
  color: $color;
  text-decoration: none;
  @at-root .active &,
  &:active,
  &.active {
    color: $activeColor;
  }
}
input {
  font-size: pxToRem(24px);
}
.fa {
  font-size: pxToRem(30px);
}
.text-muted {
  color: $gray;
}
.text-price {
  color: $priceColor;
  .fa {
    font-size: inherit;
  }
  .yuan {
    font-size: 1.5em;
  }
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sold-out {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  margin: auto;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 0.3462rem;
  color: #ffffff;
}

header,
footer,
main {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000;
  margin: 0 auto;
  width: 10rem;
  background: $white;
}
header {
  top: 0;
  &.header-list {
    height: $headerListHeight;
  }
}
footer {
  bottom: 0;
  height: $footerHeight;
}
main {
  top: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  font-size: pxToRem(24px);
  &.has-footer {
    bottom: $footerHeight;
  }
}
header.header-list + main {
  top: $headerListHeight;
}
.list-unstyle {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

$formSearchHeight: pxToRem(68px);
.form-search {
  display: flex;
  height: $formSearchHeight;
  padding: pxToRem(21px) pxToRem(20px) pxToRem(11px);

  .input-group {
    position: relative;
    flex: 1;
    .fa {
      position: absolute;
      top: (64 - 32) / 2 * 1px;
      left: (56 - 32) / 2 * 1px;
      font-size: pxToRem(32px);
    }
    input {
      display: block;
      padding: 0 pxToRem(52px);
      border: 0;
      width: 100%;
      background-color: $inputBgColor;
      outline: none;
      line-height: $formSearchHeight;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
}
.form-region {
  position: relative;
  height: $formSearchHeight;

  label {
    font-size: pxToRem(26px);
    line-height: pxToRem(62px);
    .fa {
      margin: 0 0.8em 0 0.4em;
      font-size: pxToRem(32px);
      color: $gray;
      @include rotate-transition;
    }
  }

  &.active{
    label{
      color: $orange;
      .fa {
        color: $orange;
        @include rotate-transform;
      }
    }
  }
}

$navListHeight: pxToRem(70px);
.nav-list {
  display: flex;
  height: $navListHeight;
  line-height: $navListHeight;
  border-top: 1px solid transparent;
  border-bottom: 1px solid $borderColor;
  font-size: pxToRem(26px);
  .nav-sort {
    @extend .list-unstyle;
    flex: 1;
    display: flex;
    padding: 0 pxToRem(18px);
    li {
      flex: 1;
      font-size: pxToRem(27px);
      text-align: center;
      a {
        display: block;
      }
    }
  }
  .nav-filter {
    padding: 0 pxToRem(18px);
    border-left: 1px solid $borderColor;
    .fa {
      font-size: pxToRem(24px);
      @include rotate-transition;
    }
    &.active {
      color: $orange;
      .fa {
        @include rotate-transform;
      }
    }
  }
}

$navFooterHeight: pxToRem(60px);
.nav-footer {
  @extend .list-unstyle;
  display: flex;
  padding: pxToRem(18px) pxToRem(18px) pxToRem(12px) pxToRem(18px);
  height: $navFooterHeight;
  line-height: $navFooterHeight;
  text-align: center;
  font-size: pxToRem(24px);
  li {
    flex: 1;
  }
  li + li {
    border-left: 1px solid $color;
  }
}

//pull load
#list {
  position: absolute;
  width: 100%;
  height: 100%;
}
.pull-wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $bgColor;
  overflow: hidden;
}
.pull-scroller {
  position: absolute;
  z-index: 1;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
.pull-body {
  @extend .list-unstyle;
  display: flex;
  flex-wrap: wrap;
  padding: 0 pxToRem(9px);
}
.pull-body li {
  width: 50%;
}
.pull-down,
.pull-up {
  background: #fff;
  padding: 0.5em 1em;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  line-height: 2em;
  color: #888;
}
.pull-label {
  margin-left: 1em;
}
.pull-icon {
  display: block;
  float: left;
  font: normal normal normal 2em/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 250ms;
}
.pull-down .pull-icon:before {
  content: "\f063";
}
.pull-up .pull-icon:before {
  content: "\f062";
}
.pull-flip .pull-icon {
  -webkit-transform: rotate(-180deg) translateZ(0);
}
.pull-loading .pull-icon:before {
  content: "\f021";
}
.pull-loading .pull-icon {
  -webkit-animation: loading 1s linear 0s infinite;
  -o-animation: loading 1s linear 0s infinite;
  animation: loading 1s linear 0s infinite;
}
@keyframes loading {
  from {
    -webkit-transform: rotate(0deg) translateZ(0);
  }
  to {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}

.img-thumbnail {
  position: relative;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    @include border-radius;
    &:after {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 0 0 0 0.625rem;
      border-radius: inherit;
      background: url('../images/normal.png') no-repeat center #eaeaea;
      -webkit-background-size: 40%;
      background-size: 40%;
    }

  }
  @at-root .thumbnail & {
    width: pxToRem(348px);
    height: pxToRem(348px);
  }
}
.thumbnail {
  display: block;
  margin: pxToRem(15px) pxToRem(9px);
  background-color: #fff;
  -webkit-box-shadow: 0.0805rem 0.0805rem 0.161rem rgba(4, 0, 0, 0.73);
  -moz-box-shadow: 0.0805rem 0.0805rem 0.161rem rgba(4, 0, 0, 0.73);
  box-shadow: 0.0805rem 0.0805rem 0.161rem rgba(4, 0, 0, 0.73);
  font-size: pxToRem(20px);
  .caption {
    padding: pxToRem(9px);
    h4 {
      margin: 0;
      font-size: pxToRem(20px);
      @include ellipsis(pxToRem(50px));
    }
  }
  .text-price {
    margin-top: pxToRem(6px);
  }
}
